/* color pallet 
        #F3E308   --   Yellow
        #B8BFC1   --   Grey
        #6C8494   --   Light Blue
        #2C4C5C   --   Dark Blue
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nunito{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6C8494;
    width: 100%;
    height: 100vh;
}
#auth-cont{
    width: 90vh;
    height: 75vh;
    background-color: #B8BFC1;
    border-radius: 2%;
    box-shadow:
        -.3rem -.3rem 2rem #2C4C5C,
        .3rem .3rem 2rem #2C4C5C;
}