<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/style/base.css">
    <title>Document</title>
</head>
<body>
    <header>
        <span id="logo">
            <a href=""><img src="../Static/images/TradeHive_Logo.png" alt=""></a>
        </span>
        <span id="filter-cont">
            <div>CATAGORIES</div>
        </span>
        <form action="" method="post" id="filter-form">
            <h4 class="titles">Category</h4>
            <div class="DropDown_Cont">

            </div>
            <h4 class="titles">Color</h4>
            <div class="DropDown_Cont">

            </div>
            <h4 class="titles">Size</h4>
            <div class="DropDown_Cont">

            </div>
            <h4 class="titles">Availability</h4>
            <div class="DropDown_Cont">

            </div>
        </form>
        
        <span id="searchbar">

        </span>
        <span id="account">

        </span>
        <span id="cart">

        </span>
    </header>
    {% block body %}
    {% endblock %}
    <footer>

    </footer>
</body>
</html>

<!-- toggle dropdown view of filter catagories -->
<script>
    const filter_dropdown = document.getElementById('filter-cont')
    const filter_form = document.getElementById('filter-form')

    filter_dropdown.addEventListener('click', function(){
        if (filter_form.style.display == 'block'){
            filter_form.style.display = 'none'
        }else{
            filter_form.style.display = 'block'
        }
    })
</script>