<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
    <title>Document</title>
</head>
<body>
    {% include 'header.html' %}
    <div id="body">
        {% block body %}
        {% endblock %}
    </div>
    {% include 'footer.html' %}
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>

<!-- toggle dropdown view of filter catagories -->
<script>
    const filter_dropdown = document.getElementById('filter-cont')
    const filter_form = document.getElementById('filter-form')

    filter_dropdown.addEventListener('click', function(){
        if (filter_form.style.display == 'block'){
            filter_form.style.display = 'none'
        }else{
            filter_form.style.display = 'block'
        }
    })
</script>