<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/dash.css') }}">
    <title>Document</title>
</head>
<body>
<p>{{ role }}</p>

{% include 'dash_sidebar.html' %}

{% if role == "Role.ADMIN" %}
{% include 'dash_admin.html' %}
{% endif %}

{% if role == "Role.VENDOR" %}
{% include 'dash_vendor.html' %}
{% endif %}

{% if role == "Role.CUSTOMER" %}
{% include 'dash_cust.html' %}
{% endif %}

</body>
</html>

