<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/dash.css') }}">
    <title>Document</title>
</head>
<body>

{% include 'dash_sidebar.html' %}

<main class="dash_main">
<div class="log_body">
    <div class="topbar floating-wrapper flex">
        <input type="search" class="searchbar" placeholder="Search orders..." name="search">
        <div class="role"><strong>{{ role[0]|upper }}{{ role[1:] }}</strong></div>
    </div>
    <button class="execute-btn" onclick="runActions()"><small>Execute</small></button>
    <div class="log-wrapper fixed">
        <div class="floating-wrapper fixed">
            <table class="orders_table fixed">
                <thead>
                    <tr>
                        <td style="width: 2.5%;" class="row_check">
                            <input type="{{ 'checkbox' if role != 'customer' else 'hidden'}}" name="check_all" onclick="checkAll()" class="checks_style" id="check_all">
                        </td>
                        <th>Order ID</th>
                        <th>Customer</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Action</th>
                        <div class="dropdown order_filter">
                            <button onclick="dropdown()" class="dropbtn">&#9778;</button>
                            <div id="myDropdown" class="dropdown-content card_col floating-wrapper">
                                <a href="{{ url_for('dashboard.view_orders',role=role) }}">All</a>
                                <a href="{{ url_for('dashboard.view_filtered_orders',role=role,action='Pending') }}">Pending</a>
                                <a href="{{ url_for('dashboard.view_filtered_orders',role=role,action='Confirmed') }}">Confirmed</a>
                                <a href="{{ url_for('dashboard.view_filtered_orders',role=role,action='Picked Up') }}">Picked Up</a>
                                <a href="{{ url_for('dashboard.view_filtered_orders',role=role,action='Shipped') }}">Shipped</a>
                            </div>
                        </div>
                    </tr>
                </thead>
                <tbody class="table-scroll">

                    {% if action %}
                        {% set form_bulk_action = url_for('dashboard.view_filtered_orders', role=role, action=action) %}
                    {% else %}
                        {% set form_bulk_action = url_for('dashboard.view_orders', role=role) %}
                    {% endif %}
                    {% for order in order_log['order_details'] %}
                        <tr class="row_{{ 'even' if loop.index0 % 2 == 1 else 'odd' }}">
                            <td style="width: 2.5%;">
                                {% set show_checkbox = (role != 'customer') and (order['status'] != 'Shipped') %}
                                {% if show_checkbox %}
                                    <input
                                        type="checkbox"
                                        value="{{ order['order_num'] }}"
                                        name="checks"
                                        class="checks_style checks">
                                {% endif %}
                            </td>
                            <td>
                                {{ order['order_num'] }}
                                <button type="button" class="dropbtn">&#129123;</button>
                            </td>
                            <td>{{ order['name'] }}</td>
                            <td>${{ order['total'] }}</td>
                            <td>{{ order['status'] }}</td>
                            <td>
                                {% if action %}
                                    {% set form_action = url_for('dashboard.view_filtered_orders', role=role, action=action) %}
                                {% else %}
                                    {% set form_action = url_for('dashboard.view_orders', role=role) %}
                                {% endif %}
                                <form action="{{ form_action }}" method="POST">
                                    <input
                                        type="hidden"
                                        name="order_num"
                                        value="{{ order['order_num'] }}">
                                    <input
                                        type="hidden"
                                        name="action"
                                        value="{{ order_log['order_actions'][order.get('order_num')] }}">
                                    <input
                                        type="submit"
                                        name="input-btn"
                                        value="{{ order_log['order_actions'][order.get('order_num')] }}"
                                        class="badge-{{ order_log['order_actions'][order.get('order_num')] }}"
                                        {% if role == 'customer' %}disabled{% endif %}>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>
</main>

<script>
    const master_check = document.getElementById('check_all')

    function checkAll(){
        if (master_check.checked){
            document.querySelectorAll('.checks').forEach(check => check.checked = true)
        }else{
            document.querySelectorAll('.checks').forEach(check => check.checked = false)
        }
    }

    function dropdown() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        const input = document.getElementById("myInput");
        const filter = input.value.toUpperCase();
        const div = document.getElementById("myDropdown");
        const a = div.getElementsByTagName("a");
        for (let i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
            } else {
            a[i].style.display = "none";
            }
        }
    }

    const bulkUrl = "{{ form_bulk_action }}";

    function runActions(){
        const checks = document.querySelectorAll('.checks:checked');
        const formData = new FormData();

        checks.forEach(check => {
            formData.append('orders', check.value);
        });

        formData.append('bulk_action', 'true');

        fetch(bulkUrl, {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.ok){
                location.reload();
            }
        });
    }

</script>

</body>
</html>

