<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/dash.css') }}">
    <title>Document</title>
</head>
<body>

{% include 'dash_sidebar.html' %}

<div class="log_body">
    <form class="topbar floating-wrapper flex">
        <input class="searchbar" placeholder="Search orders..." name="search">
        <div class="role"><strong>{{ role[0]|upper}}{{role[1:] }}</strong></div>
        <form class="flex">
            <input type="button" class="quick_sort card_col floating-wrapper" value="test">
            <input type="button" class="quick_sort card_col floating-wrapper" value="test">
            <input type="button" class="quick_sort card_col floating-wrapper" value="test">
            <input type="button" class="quick_sort card_col floating-wrapper" value="test">
        </form>
    </form>
    <div class="log-wrapper fixed">
        <div class="floating-wrapper fixed">
            <table class="orders_table fixed">
                <thead>
                    <tr>
                        <td style="width: 2.5%;" class="row_check">
                            <form>
                                <input type="checkbox" name="check_all" onclick="checkAll()" class="checks" id="check_all">
                            </form>
                        </td>
                        <th>Order ID</th>
                        <th>Customer</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Action</th>
                        <div class="dropdown order_filter">
                            <button onclick="dropdown()" class="dropbtn">&#9778;</button>
                            <div id="myDropdown" class="dropdown-content card_col floating-wrapper">
                                <a href="{{ url_for('dashboard.view_orders',role=role) }}">All</a>
                                <a href="{{ url_for('dashboard.view_filtered_orders',role=role,action='Pending') }}">Pending</a>
                                <a href="{{ url_for('dashboard.view_filtered_orders',role=role,action='Confirmed') }}">Confirmed</a>
                                <a href="{{ url_for('dashboard.view_filtered_orders',role=role,action='Picked Up') }}">Picked Up</a>
                                <a href="{{ url_for('dashboard.view_filtered_orders',role=role,action='Shipped') }}">Shipped</a>
                            </div>
                        </div>
                    </tr>
                </thead>
                <tbody class="table-scroll">
                    {% for order in order_log['order_details'] %}
                    <tr class="row_{{ 'even' if loop.index0 % 2 == 1 else 'odd' }}">
                        <td style="width: 2.5%;">
                            <form>
                                <input type="checkbox" name="checks" class="checks">
                            </form>
                        </td>
                        <td>{{ order['order_num'] }} <button class="dropbtn">&#129123;</button></td>
                        <td>{{ order['name'] }}</td>
                        <td>${{ order['total'] }}</td>
                        <td>{{ order['status'] }}</td>
                        <td>
                            <form action="" method="POST">
                                <input type="hidden" name="order_num" value="{{ order['order_num'] }}">
                                <input type="hidden" name="action" value="{{ order_log['order_actions'][order.get('order_num')] }}">
                                <input type="submit" name="input-btn"
                                    value="{{ order_log['order_actions'][order.get('order_num')] }}"
                                    class="badge-{{ order_log['order_actions'][order.get('order_num')] }}">
                            </form>
                        </td>
                    </tr>
                    
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
    
</div>

<script>
    const master_check = document.getElementById('check_all')

    function checkAll(){
        if (master_check.checked){
            document.querySelectorAll('.checks').forEach(check => check.checked = true)
        }else{
            document.querySelectorAll('.checks').forEach(check => check.checked = false)
        }
    }

    function dropdown() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
    const input = document.getElementById("myInput");
    const filter = input.value.toUpperCase();
    const div = document.getElementById("myDropdown");
    const a = div.getElementsByTagName("a");
    for (let i = 0; i < a.length; i++) {
        txtValue = a[i].textContent || a[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
        } else {
        a[i].style.display = "none";
        }
    }
    }

</script>

</body>
</html>

