<header>
    <span id="logo">
        <a href="{{ url_for('index.index') }}"><img src="{{ url_for('static', filename='images/TradeHive_Logo.png') }}" alt=""></a>
    </span>
    
    <div class="searchbar">
        <form action="" method="get" class="search_form">
            <input type="text" name="q" placeholder="Search products..." class="search_input">
            <button type="submit" class="search_btn">Search</button>
        </form>
    </div>
    <div class="navlinks">
    <div class="navlink cart">
        <a href="{{ url_for('cart.view_cart') }}">Cart <ion-icon name="cart-outline"></ion-icon></a>
    </div>
    <div class="navlink account">
        <a href="{{ url_for('dashboard.dashboard') }}"><ion-icon name="person-outline" class="acct-icn"></ion-icon></a>
    </div>
    </div>
</header>
