{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class = "welcome-content">
        <h1>Welcome to <span class="span-blue">Trade</span><span class="span-gold">Hive</span></h1>
        <p>We make buying and selling a breeze!</p>
    <h2>Featured Products</h2>
    </div>
    <div class="products_grid">
        {% for product in products %}
        {% with sku=product.sku, title=product.title, images=product.get('images', []), price=product.unit_price, rating=product.rating %}
            {% include "product_card.html" %}
        {% endwith %}
        {% endfor %}
    </div>
{% endblock %}